# Compiler files
node_modules/
lib/
cache/
out/
dist/
cache/
out/

# Ignores development broadcast logs
broadcast/
deployments/

# Docs
docs/

# Dotenv file
.env
.env.*
!.env.example

# Misc
.DS_Store